<div class="container-fluid">
    <div class="container">

        <img src="assets/img/slides/R3.png" style="width: 100%;" alt="">
    </div>
    <div class="container text pt-5">
        <h3 style="font-family: 'Times New Roman', Times, serif;">Our Services</h3>
        <div class="row pt-5">
            <div class="col-6">


                <p style="text-align:justify;">

                    <Span style="font-size:1.8rem;font-family: 'Times New Roman', Times, serif;">Here at Delivety</Span>, <em>we are building an all-in-one online order management system that uniquely caters to the needs of every food delivery business in the world. In 2004, we launched our first food delivery start-up in Eastern Europe, and have since
                    expanded to five brands, serving customers in various food delivery market niches. During that time, we have always placed a keen focus on developing our unique cloud-based online system for managing our food delivery businesses, and
                    we are proud</em>


                </p>
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 1.8rem;text-align: justify;">Our mission is to create a truly all-in-one system that incorporates not only common food delivery order management functions. need them.</p>
            </div>
            <div class="col-6">
                <img src="assets/img/slides/S3.jpg" style="width: 100%;" alt="">
            </div>
        </div>





        <div class="row p-5">
            <div class="col-6 ">



                <img src="assets/img/slides/S1.jpg" alt="" style="width: 50%;height: 200px;">

                <p style="text-align:justify;"> <span style="font-family: 'Times New Roman', Times, serif;font-size: 1.5rem;">A food van is a great way to get started. You can use the van to make deliveries.</span><em> Website/Mobile app. If you want to build a platform for orders, you
                    will need a website and mobile app to be competitive in the market. In such a way, you will help your clients make their orders much more quickly. A website or an app is the best way to create a brand identity. They will help you keep
                    track of all your orders and send them to your customers. Your clients will get access to all the information they need to order. If they need more information, they can contact you by email or phone. They will also get instant notifications
                    whenever there is a new update to your business. food delivery website mobile app 3. Decide What to Sell Creating a Meal Plan In this step, there are three crucial things that you will need to decide on: the meal plan, the food recipe,
                     </em>
                    <span style="font-family: 'Times New Roman', Times, serif;font-size: 2rem;">Think about what your clients want and consider their tastes and preferences so that you can prepare meals that they enjoy eating. The main idea behind a meal plan is to create a meal schedule and serve them as needed.</span>
                    <em style="font-size: 1.3rem;">your customers demand more variety. So, then you can add new items to your menus and try different price points. Create an Efficient Recipe Formulary Now, when you decide about a meal plan, you can start working on a recipe formula
                    for each type of food inside your meal plan. An Efficient Food Recipe Formulary (EFRF) is a step-by-step recipe.
                    </em>
                </p>
            </div>
            <div class="col-6">

                <img src="assets/img/slides/S2.png" alt="" style="width: 100%;">
                <em style="font-family: 'Times New Roman', Times, serif;font-size: 1.5rem;">
                    <span style="font-family: 'Times New Roman', Times, serif;font-size: 1.5rem;">You will need good food processing equipment, a freezer, and a scale.</span> And since you will be preparing meals for customers, it is a good idea to get
                    a kitchen space that is big enough to prepare all the meals you will need to make daily. You may want to consider a commercial-grade refrigerator so you can store the food for more extended periods.
                </em>
                <div class="">

                    <img src="assets/img/slides/D1.jpg" alt="" style="width: 100%;">

                    <em style="font-family: 'Times New Roman', Times, serif;font-size: 1.5rem;">
                        <h2>Food delivery any whare</h2>
                        Suppose you want to start a food delivery business. In that case, the first question to ask yourself is: What kind of business model is most suitable for me? The business model you choose will largely determine the kind of food delivery service you offer.

                    </em>
                </div>
            </div>
        </div>

    </div>

</div>




<app-footer></app-footer>