<div class="container-fluid">
    <div class="container">

        <img src="assets/img/slides/h3.jpg" style="width: 100%;" alt="">
    </div>
    <div class="container text pt-5">
        <h3 style="font-family: 'Times New Roman', Times, serif;">Our story</h3>

        <p style="text-align:justify;">

            <Span style="font-size:1.8rem;font-family: 'Times New Roman', Times, serif;">Here at Delivety</Span>, we are building an all-in-one online order management system that uniquely caters to the needs of every food delivery business in the world. In 2004, we launched our first food delivery start-up in Eastern Europe, and have since expanded
            to five brands, serving customers in various food delivery market niches. During that time, we have always placed a keen focus on developing our unique cloud-based online system for managing our food delivery businesses, and we are proud to
            announce that we are now ready to share it with the world. Delivety has been created and built from the ground up by food delivery professionals to help those who are ready to start their own food delivery business, as well as for those who
            are looking for a way to boost the revenues of their existing restaurant or food delivery business. All new features and updates and preliminarily tested in the real environment of our food delivery businesses before going online, to make
            sure that they work exactly as planned.


        </p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 2rem;">Our mission is to create a truly all-in-one system that incorporates not only common food delivery order management functions. need them.</p>
        <img src="assets/img/slides/R2.png" alt="" style="width: 100%;">



        <div class="row">
            <div class="col-6 ">

                <h2>Create an Efficient Recipe Formulary</h2>

                <img src="assets/img/slides/R.png" alt="" style="width: 100%;">

                <em style="text-align:center;"> <span style="font-family: 'Times New Roman', Times, serif;font-size: 1.5rem;">A food van is a great way to get started. You can use the van to make deliveries.</span> Website/Mobile app. If you want to build a platform for orders, you
                    will need a website and mobile app to be competitive in the market. In such a way, you will help your clients make their orders much more quickly. A website or an app is the best way to create a brand identity. They will help you keep
                    track of all your orders and send them to your customers. Your clients will get access to all the information they need to order. If they need more information, they can contact you by email or phone. They will also get instant notifications
                    whenever there is a new update to your business. food delivery website mobile app 3. Decide What to Sell Creating a Meal Plan In this step, there are three crucial things that you will need to decide on: the meal plan, the food recipe,
                    and where you will order ingredients for that food. Meal plan You don’t need to create a meal plan in advance if you don’t want to. But I suggest you do this because it’s the perfect way to manage your food delivery business daily.
                    You will keep track of your costs, make sure you are on a budget, and prepare healthier food for your clients. As you can see, the meal plan is an essential foundation to building a successful food delivery business.
                    <span style="font-family: 'Times New Roman', Times, serif;font-size: 2rem;">Think about what your clients want and consider their tastes and preferences so that you can prepare meals that they enjoy eating. The main idea behind a meal plan is to create a meal schedule and serve them as needed.</span>                    If you do this, you’ll save a lot of money because you will not spend on ingredients that can not be used after some time if the orders don’t contain food to use them. You can start with a simple menu of a few main items. However,
                    once your business has matured, you will realize that your customers demand more variety. So, then you can add new items to your menus and try different price points. Create an Efficient Recipe Formulary Now, when you decide about
                    a meal plan, you can start working on a recipe formula for each type of food inside your meal plan. An Efficient Food Recipe Formulary (EFRF) is a step-by-step recipe.
                </em>
            </div>
            <div class="col-6">
                <h2>Kitchen equipment and space.</h2>
                <img src="assets/img/slides/K1.jpg" alt="" style="width: 100%;">
                <p style="text-align: justify;">
                    So, the first thing you need to have is a good kitchen equipment that can help you do this. <span style="font-family: 'Times New Roman', Times, serif;font-size: 1.5rem;">You will need good food processing equipment, a freezer, and a scale.</span>                    And since you will be preparing meals for customers, it is a good idea to get a kitchen space that is big enough to prepare all the meals you will need to make daily. You may want to consider a commercial-grade refrigerator so you
                    can store the food for more extended periods.
                </p>
                <div class="">

                    <img src="assets/img/slides/h4.jpg" alt="" style="width: 100%;">
                    <p style="text-align: justify;">
                        Suppose you want to start a food delivery business. In that case, the first question to ask yourself is: What kind of business model is most suitable for me? The business model you choose will largely determine the kind of food delivery service you offer.
                        It is a must that you know the different business models before starting your food delivery service from home. Some of the essential business models include:
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>




<app-footer></app-footer>