<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="social-footer footer-right">
                    <div class="socials"><a href="" class="social-link"><span class="fa fa-facebook"><span
                class="hidden">hidden</span></span></a><a routerLink="" class="social-link"><span class="fa fa-twitter"><span
                class="hidden">hidden</span></span></a><a routerLink="" class="social-link"><span class="fa fa-pinterest"><span
                 class="hidden">hidden</span></span></a><a routerLink="" class="social-link"><span class="fa fa-instagram"><span 
                class="hidden">hidden</span></span></a>
                    </div>


                    <div class="col-md-12 col-sm-12 menu-footer footer-center">
                        <ul class="menu">
                            <li class="menu-item"><span>Lalit katheriya</span></li>
                            <li class="menu-item"><span>Telephone: +91 9179255860</span></li>
                            <li class="menu-item"><span>order@foodgana.com</span></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="../../assets/img/payments.png" alt="" width="200px">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>