.container {
    background-color: rgb(238, 241, 208);
    ;
    /* background-image: url("/assets/img/slides/h3.jpg"); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.6px);
    -webkit-backdrop-filter: blur(13.6px);
    border: 1px solid rgba(236, 237, 232, 0.47);
}

.row {
    width: 100%;
    overflow: hidden;
}

.btn {
    background-color: rgba(248, 40, 3, 0.838);
    ;
    border: none;
    color: rgb(250, 246, 246);
    font-size: 1rem;
    margin-left: 5px;
    font-size: 1.5rem;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 5px;
}

.rating {
    display: flex;
    justify-content: flex-start;
}

.details {
    text-align: left;
    justify-content: center;
}

.containt {
    position: relative;
    top: 10%;
}

.price {
    display: flex;
}

.content {
    position: relative;
    left: 5%;
}

.favorite {
    color: rgb(246, 91, 40);
    font-size: 2.5rem;
    position: absolute;
    left: 10px;
    bottom: 1px;
}

.like {
    background-color: #fff;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    position: relative;
    left: 15%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.favorite.not {
    color: rgb(125, 129, 127);
}