<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="{{food.imageUrl}}" alt="" style="width: 100%;border-radius: 20px;position: relative;right: 2%;">

        </div>
        <div class="col-4 details">
            <div class="containt">
                <div class="content">
                    <div class="d-flex">
                        <h3>{{food.name}}</h3>
                        <div class="like">
                            <span class="favorite {{food.favorite?'':'not'}}">♥</span>
                        </div>
                    </div>

                    <h5 class="card-title" *ngFor="let origin of food.origins">
                        {{origin}}</h5>
                    <div class="rating">

                        <star-rating [value]="food.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="false"> </star-rating>

                    </div>

                    <div class="price pt-3">
                        <h3> Price:</h3>
                        <h3> {{food.price}}.Rs</h3>
                    </div>
                </div>
                <div class="div pt-5">
                    <a class="btn  Cart-btn" (click)="addTocart()">Add to cart</a>
                    <a href="#" class="btn  Cart-btn">Order</a>
                </div>
            </div>
        </div>
    </div>
</div>