.main {
    height: auto;
    /* From https://css.glass */
    /* From https://css.glass */
}

.container-fluid {
    background-color: rgb(255, 255, 255);
}

.text {
    text-align: center;
}

.card {
    /* From https://css.glass */
    background: rgba(236, 237, 232, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.6px);
    -webkit-backdrop-filter: blur(13.6px);
    border: 1px solid rgba(236, 237, 232, 0.47);
}

.foodsList {
    display: inline-block;
    align-items: stretch;
}

.row {
    position: relative;
}

.Cart-btn {
    position: relative;
    left: 30%;
}

.favorite {
    color: rgb(246, 91, 40);
    font-size: 2rem;
}

.favorite.not {
    color: rgb(125, 129, 127);
}

.rating {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgba(255, 42, 0, 0.931);
    ;
    border: none;
    color: rgb(255, 250, 250);
    font-size: 1rem;
    font-weight: 600;
}

.assurance-statement {
    text-align: center;
    padding: 50px 50px;
    margin-top: 20px;
}

.assurance-statement div h3 {
    margin: 10px 0 5px;
    padding: 0;
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}

.assurance-statement div p {
    font-size: 14px;
    color: #666666;
    margin: 0;
    line-height: normal;
}

.readmore-btn {
    background-color: #333333;
    color: #ffff;
}

.foodsList a {
    text-decoration: none;
}